body {
    background: #99c0fbc2;
    /* height: 100vh; */
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    background: url(../src/assets/img/backHome.jpeg);
    background-position: 50% 50%;
}

.logoImg {
    width: 30px;
}

.logoFont {
    width: 14rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 0 2rem;
    padding: 1rem;
}

.logo {
    margin-right: 13rem;
}

.footer {
    color: #ffffff;
    background-color: #292e33;
}